.social-itemfooter, .client-link, .social-item, .modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Roboto";
  padding-top: 80px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

ul {
  margin: 0px;
  padding: 0;
  list-style: none;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* header */
nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  letter-spacing: 0.03em;
}

.nav-item {
  margin-left: 55px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav-item:first-child {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .mobile-btn {
    display: none;
    width: 50px;
  }
}

.social-item-header:hover {
  fill: #2196F3;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-link:hover {
  color: #2196F3;
}

.mobile-btn {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  margin-left: 270px;
  display: block;
}
@media screen and (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: black;
  margin-right: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.01, -0.01, 0.55, 1);
  transition-delay: 50ms;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .nav-link {
    margin-right: 54px;
  }
}

.footer-form {
  margin-left: 50px;
}

.nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #2196f3;
  border-radius: 3px;
  position: absolute;
  top: 43px;
  left: 0;
  transition: opacity 250ms cubic-bezier(0.165, 0.84, 0.44, 1) 350ms, transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: scaleX(0);
}

.nav-link:hover::after {
  opacity: 1;
  width: 100%;
  transform: scaleX(1);
}

.nav-link:hover {
  color: #2196f3;
  border: 0;
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-link:hover {
  color: #2196F3;
}

.logo-color {
  color: #2196F3;
}

.nav-list {
  margin-left: 95px;
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}

.contacts-header {
  align-items: center;
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts-header {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-header {
    display: flex;
  }
}

.contact-header {
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .contact-header:first-child {
    margin-right: 50px;
  }
}

header .container {
  align-items: center;
  display: flex;
}

header {
  position: fixed;
  background-color: #FFFFFF;
  width: 100%;
  top: 0px;
}

.mobile-modal {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  position: absolute;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.backdrop {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.5);
}

.backdrop.is-hidden {
  display: none;
}

.modal-close {
  border: none;
  background-color: #FFFFFF;
  position: absolute;
  top: 21px;
  right: 15px;
}

.link-modal {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  margin-left: 40px;
  color: #212121;
}

.link-modal:first-child {
  margin-bottom: 36px;
}

.link-modal:nth-child(2) {
  margin-bottom: 32px;
}

/* hero section */
.hero-section {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../image/Imga.png");
}

@media screen and (min-widht: 768px) {
  .hero-section {
    padding-left: 204px;
  }
}
@media screen and (min-widht: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 350px;
    padding-right: 350px;
  }
}

@media screen and (min-widht: 480px) {
  .hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.hero-button {
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-top: 30px;
  border: none;
}

/* Modal  */
.backdrop {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.5);
}

.backdrop.is-hidden {
  display: none;
}

.modal-section {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-section.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.modal-close-btn {
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 490px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.modal-close-btn:hover {
  fill: #2196f3;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-title {
  margin-bottom: 12px;
  /* display: flex; */
  white-space: nowrap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-container {
  /* position: relative; */
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  /* width: 528px;
  height: 581px; */
}

.modal-list-item {
  margin-bottom: 10px;
  position: relative;
}

.modal-input {
  width: 448px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  position: relative;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.modal-input:hover, :focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: #2196f3;
}

.modal-svg {
  position: absolute;
  left: 12px;
  bottom: 11px;
}

.modal-input-svg-block:hover {
  fill: #2196f3;
}

.modal-list-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
}

.modal-textarea {
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 128px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  resize: none;
  margin-bottom: 20px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.modal-checkbox-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-checkbox {
  background: #212121;
  width: 16px;
  height: 15px;
}

.checkbox-block {
  display: block;
}

.modal-link {
  color: #2196f3;
  text-decoration: underline;
}

.modal-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 10px;
  padding-left: 58px;
  margin-top: 30px;
}

.modal-block-button {
  display: flex;
  justify-content: center;
}

.whywe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212121;
  width: 270px;
  height: 16px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.section-whywe {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.whywe-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 94px;
  padding-bottom: 94px;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .whywe-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .whywe-item {
    width: 270px;
  }
}

.whywe-item::before {
  height: 120px;
  width: 100%;
  display: block;
  content: "";
  background-color: #F5F4FA;
  background-position: center;
  background-repeat: no-repeat;
}

.whywe-item:nth-child(1)::before {
  background-image: url(../../image/astronaut.png);
  background-size: 70px;
}

.whywe-item:nth-child(2)::before {
  background-image: url(../../image/clock.png);
  background-size: 70px;
}

.whywe-item:nth-child(3)::before {
  background-image: url(../../image/diagram.png);
  background-size: 70px;
}

.whywe-item:nth-child(4)::before {
  background-image: url(../../image/Group.png);
  background-size: 70px;
}

/* team */
.team-section .container {
  padding-top: 95px;
  padding-bottom: 95px;
}

.team-list {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 30px;
}

.team-name {
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-item {
  padding-bottom: 24px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team-item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: 270px;
  }
}

.team-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-section {
  background: #F5F4FA;
}

.team-about {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-item {
  margin-left: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
}

.social-item:hover {
  fill: #ffffff;
  background-color: #2196f3;
}

.svg-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.about-section {
  padding-top: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .about-section {
    display: block;
  }
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 94px;
}

.about-list-item {
  position: relative;
}

.about-list-item:nth-child(2n) {
  margin-right: 30px;
  margin-left: 30px;
}

.about-block {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  width: 370px;
  height: 70px;
  position: absolute;
  top: 224px;
}

.about-list-subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 27px;
  left: 100px;
}

/* .about-list-subtitle: {
  position: absolute;
width: 182px;
height: 16px; 
left: 309px;
top: 1462px;
} */
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

/* section-clients */
.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.clients-title {
  padding-top: 94px;
  text-align: center;
  padding-bottom: 50px;
}

.client-link {
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  fill: #AFB1B8;
}

.client-link:hover {
  fill: #2196F3;
  border-color: #2196F3;
}

.section-clients {
  margin-bottom: 100px;
}

@media screen and (min-width: 1200px) {
  .clients-item {
    width: 270px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: 270px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: 270px;
  }
}

/* footer */
footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  footer .container {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
}

footer .container div {
  text-align: center;
}
@media screen and (max-width: 767px) {
  footer .container div:not(:first-child) {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .join-us {
    margin-left: 165px;
  }
}

.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.contact-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.social-itemfooter {
  margin-left: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  background: rgba(255, 255, 255, 0.1);
}

.social-itemfooter:hover {
  fill: #ffffff;
  background-color: #2196f3;
}

.social-list {
  display: flex;
}

.hero-button {
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-top: 30px;
  border: none;
}

.h3-footer {
  color: #FFFFFF;
}

.footer-address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  color: #FFFFFF;
  margin-top: 20px;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  margin-top: 20px;
  padding-left: 17.32px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.01, -0.01, 0.55, 1);
  transition-delay: 50ms;
}/*# sourceMappingURL=main.css.map */