/* section-clients */
.clients-list {
    display: flex;
  
  } 
  .clients-title{
    padding-top: 94px;
  text-align: center;
    padding-bottom: 50px;
  }
  
  .client-item {
    margin-left: 30px;
  }
  
  .client-link {
    width: 170px;
    height: 90px;
    @extend %flex;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8  ;
    fill: #AFB1B8;
  }
  
  .client-link:hover {
    fill: #2196F3;
    border-color:  #2196F3;
  }
  
  .section-clients{
  margin-bottom: 100px;
    } 
  
  