.section-whywe ::before{

}

.whywe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212121;
  width: 270px;
  height: 16px;
margin-bottom: 10px;
margin-top: 30px;
}

.section-whywe {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;


}

.whywe-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 94px;
  padding-bottom: 94px;
gap: 30px;

}

.whywe-item{
  

  @media screen and(min-width: 768px){
  width: 354px;
  }
  @media screen and(min-width: 1200px){
    width: 270px;
    }
}
.whywe-item::before{
  height: 120px;
  width: 100%;
  display: block;
  content: "";
  background-color: #F5F4FA;
  background-position: center;
  background-repeat: no-repeat;
}
.whywe-item:nth-child(1)::before{
  
background-image: url(../../image/astronaut.png);
background-size: 70px;
}
