.section-whywe ::before{

}

.whywe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #212121;
  width: 270px;
  height: 16px;
}

.section-whywe {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;


}

.whywe-list {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
} 