h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

ul {
  margin: 0px;
  padding: 0;
  list-style: none;
}

p {
  margin: 0px; 
}

a {
  text-decoration: none;
}

